<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookingPrice">
            <h2><span>Booking Price</span> {{bookingPrice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Booking Price</span></dt>
                <dd>
                    <span>{{bookingPrice.bookingPrice}}</span>
                </dd>
                <dt><span>Effective Date</span></dt>
                <dd>
                    <span>{{bookingPrice.effectiveDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/booking-price', bookingPrice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
