<div>
    <h2 id="page-heading">
        <span>Booking Prices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking-price" [routerLink]="['/booking-price/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Booking Price
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bookingPrices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Booking Price</span></th>
            <th><span>Effective Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookingPrice of bookingPrices ;trackBy: trackId">
                <td><a [routerLink]="['/booking-price', bookingPrice.id, 'view' ]">{{bookingPrice.id}}</a></td>
                <td>{{bookingPrice.bookingPrice}}</td>
                <td>{{bookingPrice.effectiveDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/booking-price', bookingPrice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking-price', bookingPrice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'booking-price', { outlets: { popup: bookingPrice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
