<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchase">
            <h2><span>Purchase</span> {{purchase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Purchase Date</span></dt>
                <dd>
                    <span>{{purchase.purchaseDate}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{purchase.price}}</span>
                </dd>
                <dt><span>Attachment</span></dt>
                <dd>
                    <div *ngIf="purchase.attachment">
                        <a (click)="openFile(purchase.attachmentContentType, purchase.attachment)">open</a>
                        {{purchase.attachmentContentType}}, {{byteSize(purchase.attachment)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase', purchase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
