<div>
    <h2 id="page-heading">
        <span>Purchases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-purchase" [routerLink]="['/purchase/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Purchase
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="purchases">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Purchase Date</span></th>
            <th><span>Price</span></th>
            <th><span>Attachment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchase of purchases ;trackBy: trackId">
                <td><a [routerLink]="['/purchase', purchase.id, 'view' ]">{{purchase.id}}</a></td>
                <td>{{purchase.purchaseDate | date:'medium'}}</td>
                <td>{{purchase.price}}</td>
                <td>
                    <a *ngIf="purchase.attachment" (click)="openFile(purchase.attachmentContentType, purchase.attachment)">open</a>
                    <span *ngIf="purchase.attachment">{{purchase.attachmentContentType}}, {{byteSize(purchase.attachment)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/purchase', purchase.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase', purchase.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'purchase', { outlets: { popup: purchase.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
